<div class="item-class-test">
  <h3>Item Class Test</h3>
</div>

<div class="item-class-test">
  <h3>Generate following Objects</h3>
  <div class="classes-container">
    <div class="item-class">
      <h4>Vehicle</h4>
      <ol>
        <li (click)="createCar()">
          <h5>Car</h5>
        </li>
        <li (click)="generateBike()">
          <h5>Bike</h5>
        </li>
        <li (click)="generateBicycle()">
          <h5>Bicycle</h5>
        </li>
        <li (click)="generateTruck()">
          <h5>Truck</h5>
        </li>
      </ol>
    </div>

    <div class="item-class">
      <h4>Fashion</h4>
      <ol>
        <li>
          <h5>Cloth</h5>
          <ul>
            <li>
              <h6>Top</h6>
            </li>
            <li>
              <h6>Bottom</h6>
            </li>
            <li>
              <h6>Dresses</h6>
            </li>
          </ul>
        </li>

        <li>
          <h5>Foot Wear</h5>
          <ul>
            <li><h6>Shoes</h6></li>
            <li><h6>Slippers</h6></li>
            <li><h6>Heels</h6></li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>

<ng-container *ngFor="let item of items">
  <div class="item-container">
    <ul>
      <li>
        <div
          [ngClass]="{
            bike: item.constructor.name === 'Bike',
            bicycle: item.constructor.name === 'Bicycle',
            car: item.constructor.name === 'Car',
            truck: item.constructor.name === 'Truck'
          }"
          class="item-inner-section"
        >
          <span>This is a <b>{{ item.constructor.name }}</b></span> <br />
          <span>Name: <b>{{ item.getItemName() }}</b> </span> <br />
          <span>description: <b> {{ item.getItemDescription() }} </b> </span> <br />
          <span>price: <b> {{ item.getPaymentAmount() }} </b> </span> <br />
        </div>
      </li>
    </ul>
  </div>
</ng-container>
