.item-class-test{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed;
    flex-direction: column;
    
}
.classes-container{
display: flex;        
}

.item-class{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.item-inner-section{
    border: 1px dashed;
    padding: 10px;
}

.bike{
    background-color: antiquewhite;
}
.bicycle{
    background-color: aliceblue;
}
.car{
    background-color:azure;
}
.truck{
    background-color:aquamarine
}